<% if book.favorited_by?(current_user) %>
  <!--非同期通信-->
  <%= link_to book_favorites_path(book), method: :delete, remote: true do %>
    <div class = "text-danger">♥<%=book.favorites.count %></div>
  <% end %>
<% else %>
  <!--非同期通信-->
  <%= link_to book_favorites_path(book), method: :post, remote: true do %>
    <div class = "text-primary">♥<%=book.favorites.count %></div>
  <% end %>
<% end %>